.aboutTheTeam {
  .teamNames {
    margin-top: 5rem;

    p {
      background-color: @mainRed;
      text-align: left;
      border-radius: 3px;
    }

  }

  span {
    color: @dark;
  }
}

.teamNamesGH {
  a {
    color: @mainRed;
  }
}