@keyframes bgChangeDarker {
  from {}
  to {
    background-color: @dark;
  }
}

@keyframes bgChangeLighter {
  from {}
  to {
    background-color: lighten(@mainRed, 10%);
  }
}

@keyframes textChangeRed {
  from {}
  to {
    text-decoration: underline;
  }
}

