//flexbox
.customFlex(@jc,@ai,@direction) {
  display: flex;
  justify-content: @jc;
  align-items: @ai;
  flex-direction: @direction;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

//text decoration
.textNormalize {
  text-decoration: none;
  color: #000;
}