header {
  width: 100%;
  background-color: @dark;
  .customFlex(space-between, center, row);

  h1 {
    margin: 0 1rem 0 2rem;
    a {
    .textNormalize;
    color: @mainWhite;
    font-size: 2rem;
    font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    }
  }

  #menu span, a {
    .textNormalize;
    color: @mainWhite;
  }
}

